.custom_tabs .active {
    color: var(--item-color) !important;
}

.custom_tabs .custom_tabs_item {
    padding: 0px !important;
    min-width: 0px !important;
    margin-right: 20px !important;
    text-transform: inherit !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    outline-width: 0px !important;
}

.custom_card {
    height: 100%;
    max-width: 350px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 6, 0.08) !important;
    border-radius: 5px;
    overflow: hidden;
    outline-width: 0px !important;
}

.custom_card .custom_card_image {
    height: 140px;
}

.custom_card .custom_card_title {
    font-weight: 500;
}

.custom_card .custom_card_caption {
    color: gray !important;
    font-weight: 400;
}

/* .project_dialog {
    display: flex;
    align-items: center;
    justify-content: center; 
    max-width: 800px;
} */

.project_dialog .project_dialog_image {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.project_dialog .project_dialog_description {
    margin-top: 10px !important;
}

.project_dialog .project_dialog_actions{
    justify-content: center !important;
    margin-bottom: 10px;
}

.project_dialog .project_dialog_icon {
    color: darkslategray;
    margin: 0px 12px;
    cursor: pointer;
}

.project_dialog .project_dialog_icon:hover {
    color: var(--item-color) !important;
}

.project_dialog .project_dialog_icon > .MuiSvgIcon-root {
    font-size: 30px !important;
}